<%- include('./_header.ejs'); %>

<section class="single-section flexible-container">
  <h2 class="section-header"><%= subtitle %></h2>
  <%- include('./_offer.ejs'); %>
</section>

<%- include('./_footer.ejs'); %>
<%- include('./_forms.ejs'); %>
