<%- include('./_header.ejs'); %>
<section class="single-section flexible-container">
    <div class="single-section-content-wrapper">
        <div class="single-section-content">
            <h2 class="section-header">
                Подарите на 14 февраля шоппинг со стилистом!
            </h2>
            <p class="content-p">
                <h3>Ваша вторая половинка, подруга, сестра, мама обожает модные журналы и часто проводит время в магазинах одежды? </h3>
            </p>
            <p class="content-p">
                В таком случае, дарить ей полное собрание сочинений Чехова было бы ошибкой. 
                И даже модный аксессуар из последней коллекции не произведёт такого яркого впечатления как <b>увлекательный шоппинг со стилистом</b>!
            </p>
            <h3>Что ждёт получательницу подарка?</h3>
            <p class="content-p">
            	Прогулка по магазинам в сопровождении <b>профессионального имидж-консультанта</b>. 
                Это не просто посещение торговых центров, а <b>полноценная консультация</b>, 
                касающаяся всех аспектов внешности от подходящих цветов, до подходящего стилевого направления.                 
            </p>
            <p class="content-p">
            	Таким образом, во время покупок будут подобраны вещи, идеально сочетающиеся между собой, а главное, превосходно подходящие хозяйке! 
                Шоппинг со стилистом — отличная возможность многое узнать о себе, своем стиле и получить знания, использовать которые можно и в будущем.
            </p>
            <p class="content-p content-p-img">
                <img class="mk" src="/images/14f.jpg"/>
            </p>
            
            <%- include('./_offer-14f.ejs', {is404: false}); %>
        </div>
    </div>
</section>

<%#<p class="show-more r5m-action  flexible-container" data-action="page-removeDOM">
    <a class="show-more" href="#more">Больше новостей...</a>
</p>%>
<section class="single-section flexible-container">
    <div class="single-section-content-wrapper">
        <div class="single-section-content">
            <h2 class="section-header">
                Открыт набор на курс по стилю для девочек 10-16 лет «СтильнаЯ».
            </h2>
            <p class="content-p">
                <q>У вас не будет второго шанса произвести первое впечатление</q> - говорила <i>Коко Шанель</i>.
            <p class="content-p">
                И это действительно так!
                В подростковом возрасте ребенок переживает все свои взлеты и падения особенно остро. 
                Девочки-подростки стремятся выглядеть как можно взрослее, 
                поэтому спешат облачиться в декольтированные платья и мини-юбки, невзирая на то, что в такой одежде может ощущаться дискомфорт. 
            </p>
            <p class="content-p">
                Курс <b><i>&laquo;СтильнаЯ&raquo;</i></b> поможет девочке ответить на <b>все</b> интересующие вопросы о <b>стиле, имидже и моде</b>.
            </p>
            <p class="content-p content-p-img">
                <img class="mk" src="/images/style-me.png"/>
            </p>
            <h3 class="section-subheader">
                Программа курса:
            </h3>
            <ol class="heading-list">
                <li>
                    <h4>ИМИДЖ. СТИЛЬ. МОДА</h4>
                    <p>
                        Как формируются имидж и стиль? Понятие «Мода». Как правильно использовать модные тренды?
                    </p>
                </li>
                <li>
                    <h4>ПСИХОЛОГИЯ ИМИДЖА И КРАСОТЫ</h4>
                    <p>
                        Положительный имидж. Эффективная самопрезентация. Кумиры и их роль в построении имиджа.
                    </p>
                </li>
                <li>
                    <h4>КОЛОРИСТИКА</h4>
                    <p>
                        Психология цвета: какое сообщение несут цвета в моде, одежде, дизайне. Как сочетать цвета в одежде: правила и примеры. 
                    </p>
                </li>
                <li>
                    <h4>ГЕОМЕТРИЯ ТЕЛА</h4>
                    <p>
                        Визуальная коррекция фигуры с помощью одежды. Определение типа фигуры. Использование законов оптических иллюзий для визуальной коррекции фигуры. 
                    </p>
                </li>
                <li>
                    <h4>СТИЛИСТИКА</h4>
                    <p>
                        Выбор стиля одежды в соответствии с внутренними потребностями. Большие стили и микростили в моде. 
                    </p>
                </li>
                <li>
                    <h4>ПРИЧЕСКИ И МАКИЯЖ</h4>
                    <p>
                        Консультация по уходу за волосами. Примеры ежедневных укладок. Примеры дневного макияжа.
                    </p>
                </li>
                <li>
                    <h4>БОНУСНОЕ ЗАНЯТИЕ</h4>
                    <p>
                        Мини-фотосессия.
                    </p>
                </li>
            </ol>
            <h3 class="section-subheader">
                График занятий и стоимость:
            </h3>
            <p>
                Начало занятий: <b>24 сентября 2016г.</b>, 8 занятий по 2,5 часа
                <br/>Стоимость курса: <b>2 900 руб.</b>
                <br/>Занятия проходят в мини-группах до 10 человек.
            </p>
            
            <h3 class="section-subheader">
                Кто ведет курс?
            </h3>
            <p>
                <i>Юлиана Захарченко</i>. Практикующий стилист, имидж-консультант. 
                Автор и ведущая мастер-классов, вебинаров по стилю, стилист-эксперт,
                выпускница <b>&laquo;Итальянской школы моды и стиля&raquo;</b> и <b>&laquo;Школы моды Александра Васильева&raquo;</b>.
            </p>
            
            <%- include('./_offer-mk.ejs', {is404: false}); %>
        </div>
    </div>
</section>

<section class="single-section flexible-container">
    <div class="single-section-content-wrapper">
        <div class="single-section-content">
            <h2 class="section-header">
                Мастер-класс &laquo;Как найти свой стиль?&raquo;
            </h2>
            <p class="content-p">
                21 июня в 19.00 в Томске я проведу мастер-класс на тему &laquo;Как найти свой стиль?&raquo;
            </p>
            <p class="content-p content-p-img">
                <img class="mk" src="/images/mk.jpg"/>
            </p>
            <h3 class="section-subheader">
                Программа мастер-класса:
            </h3>
            <ol>
                <li>
                    Что такое стиль и как его выразить во внешнем облике?
                </li>
                <li>
                    Мода и стиль - в чём разница?
                </li>
                <li>
                    Стилевые направления в одежде.
                </li>
                <li>
                    Как найти свой стиль?
                </li>
            </ol>
            
            
        </div>
    </div>
</section>

<section class="single-section flexible-container">
    <div class="single-section-content-wrapper">
        <div class="single-section-content">
            <h2 class="section-header">
                Скидка 70% на индивидуальную консультацию
            </h2>
            <p class="content-p">
                На индивидуальной онлайн-консультации Вы получите модные рекомендации в зависимости от Вашего колорита внешности, особенностей фигуры и актуальные для сезона &laquo;весна-лето 2016&raquo; советы по стилю.
            </p>
            <p class="content-p">
                Продолжительность онлайн-консультации: 1,5 часа. Стоимость с учетом скидки: 490 руб.
            </p>

            <div class="new-offer-sale">
                <div class="new-offer-container">
                    <div class="new-offer-container-wrapper">
                        <div class="new-offer-container-wrapper__text">
                            <p class="new-offer__content new-offer__heading">
                                <b>Индивидуальная консультация</b>
                            </p>
                            <p class="new-offer__heading-big new-offer__content">
                                со скидкой 70%
                            </p>
                            <p class="new-offer__heading new-offer__content">
                                <strike>1700руб.</strike>
                                <span class="new-offer-price">490руб.<sup>*</sup>
                                </span>
                            </p>
                            <ul>
                                <li>
                                    <i class="fa fa-check"></i>
                                    Определение вашего колорита внешности
                                </li>
                                <li>
                                    <i class="fa fa-check"></i>
                                    Определение типа фигуры и подходящих фасонов
                                </li>
                                <li>
                                    <i class="fa fa-check"></i>
                                    Индивидуальные модные рекомендации и советы по стилю
                                </li>
                            </ul>
                            <p class="new-offer__content notice">
                                <i>* - предложение действительно до 18 марта 2016г</i>
                            </p>
                            <p class="offer__subscribe-wrapper">
                                <a href="#" class="offer__subscribe r5m-action" data-action="r5mDimmer-show" data-type="order" data-text="Индивидуальная консультация">
                                    Записаться на консультацию
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="single-section flexible-container">
    <div class="single-section-content-wrapper">
        <div class="single-section-content">
            <h2 class="section-header">
                Бесплатный вебинар о трендах
            </h2>
            <p class="content-p">
                Глянцевые издания, телевидение, интернет диктуют модные тренды изо дня в день. На практике, самая сложная задача — понять, как можно грамотно применять тренды в своем гардеробе и создавать гармоничные образы.
            </p>
            <p class="content-p">
                О том, как из всего многообразия трендов выбрать те, которые подойдут именно Вам, я расскажу на своем бесплатном вебинаре 11 марта «Как применять модные тенденции в своем гардеробе».
            </p>

            <div class="new-offer">
                <div class="new-offer-container">
                    <div class="new-offer-container-wrapper">
                        <div class="new-offer-container-wrapper__text">
                            <p class="new-offer__content">
                                <b>Бесплатный вебинар</b>
                            </p>
                            <p class="new-offer__heading-small new-offer__content">
                                совместно с Итальянской школой моды и стиля
                            </p>
                            <p class="new-offer__content">
                                <b>11 марта 2016г</b>
                            </p>
                            <h3 class="new-offer__heading-middle">
                                &laquo;Как применять модные тенденции в своем гардеробе&raquo;
                            </h3>
                            <p class="offer__subscribe-wrapper">
                                <a href="#" class="offer__subscribe r5m-action" data-action="r5mDimmer-show" data-type="webinar">
                                    Оставить заявку
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <h3 class="section-subheader">
                Программа вебинара:
            </h3>
            <ol>
                <li>
                    Что такое "модный тренд"?
                </li>
                <li>
                    Зачем нужны модные тренды?
                </li>
                <li>
                    Краткий обзор основных тенденций сезона «весна-лето 2016»
                </li>
                <li>
                    Как применять модные тренды в своем гардеробе?
                </li>
                <li>
                    Как подчеркнуть свой стиль модными аксессуарами?
                </li>
            </ol>
            <p>
                Буду рада видеть Вас в числе участников вебинара.
            </p>
            <p style="text-align: right">
                <i>Юлиана Захарченко.</i>
            </p>
        </div>
    </div>
</section>

<%# include('./_offer.ejs'); %>
<%- include('./_footer.ejs'); %>
<%- include('./_forms.ejs'); %>
